header {
    width: 100%;
    background-color: darkseagreen;
}

div {
    display: block;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

ul {
    display: inline-block; /*１：親要素の中央に配置したい→blockだと幅を合わせてしまうので、左に寄ったまま（親要素のtext-alignが効かない）→inline-blockにすることで親要素の幅に合わせなくなる（要素自体の幅になる？）→text-alignが効く。*/
    list-style: none;
    text-align: center;
}

li {
    display: table-cell;
    width: 80px;
    height: 80px;
    margin: 10px 0;
    padding: 10px 0;
    background-color: green;
    color: #ffffff;
    vertical-align: middle;
}

/*display:block;の場合は幅・高さ指定を指定ないと親要素のサイズに自動的に合わせるから注意*/
