
div {
    display: block;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: table-cell;
    width: 80px;
    height: 80px;
    margin: 10px 0;
    padding: 10px 0;
    background-color: green;
    color: #ffffff;
    vertical-align: middle;
}
