
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

}

.container2 {
  height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  text-align: center;
}
/* 余白を埋める
.item {
  flex-grow: 1;
}
*/
.item, {
  flex-basis: 150px;  /*width使うより、こっちのほう0が良さそう。ボックス幅を均等にする時とか and 0にするとアイテムが全て同じラインにのる*/
}

/*.item-1 {*/
  /*flex: 1;*/
  /*align-self: flex-start;*/
/*}*/

.blog-title {
  margin-right: auto;
}

.A {
  margin-top: auto;
}