//sass --style expanded scss/main.scss:css/main.css
//less css/main.css
//sass --style expanded --watch scss:css

$baseFontSize: 30px;
$baseFontColor: #3a87ad; // "darken" "lighten"
$debugMode: false;

#main {
  width: 90%;
  p {
    font-size: $baseFontSize;
    &:hover {
      font-weight: bold;
    }
    .name {
      @if $debugMode == true {
        color: #062;
      } @else {
        color: lawngreen;
      }
    }
  }

}

.title {
  font-size: $baseFontSize + 10px;
  color: lighten($baseFontColor, 10%);
}


//@for $i from 10 through 15 {
//  .fs#{$i}{
//    font-size: #{$i}px;}
//}

//$i: 10;
//@while $i <= 14 {
//  .fs#{$i}{font-size: #{$i}px;}
//  $i: $i + 1;
//}

$animals: cat, dog, tiger;
@each $animal in $animals {
  .#{$animal}-icon{background: url("#{$animal}.png");}
}

$totalWidth: 940px;
$columnCount: 5;

@function getColumnWidth($a, $b){
  $padding: 10px;
  $columnWidth: floor(($a - ($padding*($b - 1)))/ $b);
  @debug $columnWidth;
  @return $columnWidth;
}

.grid {
  float:left;
  width: getColumnWidth($totalWidth, $columnCount);
}